<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.nf147.entity.Order">
    <result column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="ship_date" jdbcType="TIMESTAMP" property="shipDate" />
    <result column="ostatus" jdbcType="VARCHAR" property="ostatus" />
    <result column="complete" jdbcType="BIT" property="complete" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    o_id, p_id, quantity, ship_date, ostatus, complete
  </sql>
  <select id="selectByExample" parameterType="com.nf147.entity.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.nf147.entity.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nf147.entity.Order">
    insert into order (o_id, p_id, quantity, 
      ship_date, ostatus, complete
      )
    values (#{oId,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, 
      #{shipDate,jdbcType=TIMESTAMP}, #{ostatus,jdbcType=VARCHAR}, #{complete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nf147.entity.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        o_id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="shipDate != null">
        ship_date,
      </if>
      <if test="ostatus != null">
        ostatus,
      </if>
      <if test="complete != null">
        complete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="shipDate != null">
        #{shipDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ostatus != null">
        #{ostatus,jdbcType=VARCHAR},
      </if>
      <if test="complete != null">
        #{complete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nf147.entity.OrderExample" resultType="java.lang.Long">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.oId != null">
        o_id = #{record.oId,jdbcType=INTEGER},
      </if>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.shipDate != null">
        ship_date = #{record.shipDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ostatus != null">
        ostatus = #{record.ostatus,jdbcType=VARCHAR},
      </if>
      <if test="record.complete != null">
        complete = #{record.complete,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set o_id = #{record.oId,jdbcType=INTEGER},
      p_id = #{record.pId,jdbcType=INTEGER},
      quantity = #{record.quantity,jdbcType=INTEGER},
      ship_date = #{record.shipDate,jdbcType=TIMESTAMP},
      ostatus = #{record.ostatus,jdbcType=VARCHAR},
      complete = #{record.complete,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>