<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--声明有哪些 Sevlet-->
    <servlet>
        <servlet-name>aaa</servlet-name>
        <servlet-class>com.nf.bookstore1.web.BookList</servlet-class>
    </servlet>


    <!--绑定请求地址-->
    <servlet-mapping>
        <servlet-name>aaa</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
</web-app>